In [4]:
import pandas as pd

In [5]:
pd.__version__

'1.2.4'

In [6]:
data = [2,4,5]

In [9]:
datap = pd.Series(data, index = ['x','y','z'])

In [14]:
print(datap['x'])

2

In [18]:
dict1 = {
    'students': ['john','peter','simon'],
    'subject': ['english', 'maths', 'biology'],
    'test_score': [25, 35, 45]
}

dict1s = pd.Series(dict1)
print(dict1s[2])

[25, 35, 45]

In [26]:
list1 = ['peter','john', 'paul']
list1df = pd.DataFrame(list1, index = ['one','two', 'three'])
print(list1df)

           0
one    peter
two     john
three   paul

In [30]:
dict1df = pd.DataFrame(dict1, index = ['one', 'two', 'three'])

In [31]:
print(dict1df)

      students  subject  test_score
one       john  english          25
two      peter    maths          35
three    simon  biology          45

In [37]:
x = dict1df.loc[['one','two']]
print(x)

    students  subject  test_score
one     john  english          25
two    peter    maths          35

In [43]:
csvdata = pd.read_csv('C:\\Users\\User\\Desktop\\pandas_tutorial\\data.csv')

In [44]:
print(csvdata)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [45]:
jsondata = pd.read_json('C:\\Users\\User\\Desktop\\pandas_tutorial\\data.js')

In [46]:
print(jsondata)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [48]:
csvdata.head(10)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [50]:
csvdata.tail(10)

     Duration  Pulse  Maxpulse  Calories
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [51]:
csvdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB